In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv(r'C:/Users/OMKAR/Desktop/Practice/Food_Data_Processing/Data/food_coded_uncleaned.csv')

In [3]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [4]:
df.tail()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [5]:
df.shape

(125, 61)

In [6]:
df.isnull().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         21
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [7]:
df.columns

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

#### GPA

In [8]:
df['GPA']

0        2.4
1      3.654
2        3.3
3        3.2
4        3.5
       ...
120      3.5
121        3
122    3.882
123        3
124      3.9
Name: GPA, Length: 125, dtype: object

In [9]:
df['GPA'].isnull().sum()

2

In [10]:
df['GPA'].unique()

array(['2.4', '3.654', '3.3', '3.2', '3.5', '2.25', '3.8', '3.904', '3.4',
       '3.6', '3.1', nan, '4', '2.2', '3.87', '3.7', '3.9', '2.8', '3',
       '3.65', '3.89', '2.9', '3.605', '3.83', '3.292', '3.35',
       'Personal ', '2.6', '3.67', '3.73', '3.79 bitch', '2.71', '3.68',
       '3.75', '3.92', 'Unknown', '3.77', '3.63', '3.882'], dtype=object)

In [11]:
df['GPA'] = df['GPA'].replace('[a-z[A-Z]', '', regex = True)
df['GPA'].unique()

array(['2.4', '3.654', '3.3', '3.2', '3.5', '2.25', '3.8', '3.904', '3.4',
       '3.6', '3.1', nan, '4', '2.2', '3.87', '3.7', '3.9', '2.8', '3',
       '3.65', '3.89', '2.9', '3.605', '3.83', '3.292', '3.35', ' ',
       '2.6', '3.67', '3.73', '3.79 ', '2.71', '3.68', '3.75', '3.92', '',
       '3.77', '3.63', '3.882'], dtype=object)

In [36]:
df['GPA'] = df['GPA'].replace('', np.nan)
df['GPA'].unique()

array(['2.4', '3.654', '3.3', '3.2', '3.5', '2.25', '3.8', '3.904', '3.4',
       '3.6', '3.1', nan, '4', '2.2', '3.87', '3.7', '3.9', '2.8', '3',
       '3.65', '3.89', '2.9', '3.605', '3.83', '3.292', '3.35', '2.6',
       '3.67', '3.73', '3.79 ', '2.71', '3.68', '3.75', '3.92', '3.77',
       '3.63', '3.882'], dtype=object)

In [37]:
df['GPA'] = df['GPA'].apply(lambda x: '{:.1f}'.format(round(float(x), 1)))
df['GPA']

0      2.4
1      3.7
2      3.3
3      3.2
4      3.5
      ...
120    3.5
121    3.0
122    3.9
123    3.0
124    3.9
Name: GPA, Length: 125, dtype: object

In [14]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

#### Gender

In [15]:
df['Gender'].isnull().sum()

0

In [16]:
df['Gender'].unique()

array([2, 1], dtype=int64)

In [17]:
df['Gender'] = df['Gender'].replace({1 :  'Female', 2 : 'Male'})

In [18]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,Female,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

####  Breakfast

In [19]:
df['breakfast'].isnull().sum()

0

In [20]:
df['breakfast'].unique()

array([1, 2], dtype=int64)

In [21]:
df['breakfast'] = df['breakfast'].replace({1 : 'Cereal', 2 : 'Donut'})
df['breakfast']

0      Cereal
1      Cereal
2      Cereal
3      Cereal
4      Cereal
        ...
120    Cereal
121    Cereal
122    Cereal
123    Cereal
124    Cereal
Name: breakfast, Length: 125, dtype: object

In [22]:
df['breakfast'].unique()

array(['Cereal', 'Donut'], dtype=object)

In [23]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,Female,Cereal,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

#### Calories_chicken

In [24]:
df['calories_chicken'].isnull().sum()

0

In [25]:
df['calories_chicken'].unique()

array([430, 610, 720, 265], dtype=int64)

In [26]:
df['calories_chicken'] = df['calories_chicken'].replace({265 : 1, 430 : 2, 610 : 3, 720 : 4})
df['calories_chicken']

0      2
1      3
2      4
3      2
4      4
      ..
120    3
121    1
122    4
123    4
124    2
Name: calories_chicken, Length: 125, dtype: int64

In [27]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,Female,Cereal,3,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,Female,Cereal,3,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,Female,Cereal,1,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,Female,Cereal,4,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,Male,Cereal,4,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,Female,Cereal,2,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

#### calories day

In [28]:
df['calories_day'].isnull().sum()

19

In [29]:
df['calories_day'].unique()

array([nan,  3.,  4.,  2.])

In [30]:
df['calories_day'] = df['calories_day'].astype(str).str.replace('\.0$', '')

C:\Users\OMKAR\AppData\Local\Temp/ipykernel_6380/1536826737.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['calories_day'] = df['calories_day'].astype(str).str.replace('\.0$', '')

In [31]:
df['calories_day'].unique()

array(['nan', '3', '4', '2'], dtype=object)

In [32]:
df['calories_day'] = df['calories_day'].replace({
    '1' : "Don't know how many calorie should consume",
    '2' : "Not at all important",
    '3' : "Moderatelly important",
    '4' : "Very Important"
})

In [33]:
df['calories_day']

0                        nan
1      Moderatelly important
2             Very Important
3      Moderatelly important
4       Not at all important
               ...
120           Very Important
121     Not at all important
122                      nan
123           Very Important
124                      nan
Name: calories_day, Length: 125, dtype: object

In [34]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,nan,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,Female,Cereal,3,Moderatelly important,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,Very Important,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,Moderatelly important,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,Not at all important,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,Female,Cereal,3,Very Important,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,Female,Cereal,1,Not at all important,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,Female,Cereal,4,nan,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,Male,Cereal,4,Very Important,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,Female,Cereal,2,nan,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

#### calories_scone

In [35]:
df['calories_scone'].isnull().sum()

1

In [38]:
df['calories_scone'].unique()

array([315., 420., 980.,  nan])

In [46]:
df['calories_scone'] = df['calories_scone'].df['values'] = df['values'].astype(int)
df['calories_scone'].unique()

array(['3150', '4200', '9800', 'nan'], dtype=object)

In [56]:
df['calories_scone'] = pd.to_numeric(df['calories_scone'], errors='coerce').fillna(0).astype(int) // 10

In [57]:
df['calories_scone']

0      315
1      420
2      420
3      420
4      420
      ...
120    420
121    315
122    420
123    420
124    315
Name: calories_scone, Length: 125, dtype: int32

In [58]:
df['calories_scone'] = df['calories_scone'].replace({
    107 : "107 cal",
    315 : "315 cal",
    420 : "420 cal",
    980 : "980 cal"
})

In [59]:
df['calories_scone']

0      315 cal
1      420 cal
2      420 cal
3      420 cal
4      420 cal
        ...
120    420 cal
121    315 cal
122    420 cal
123    420 cal
124    315 cal
Name: calories_scone, Length: 125, dtype: object

In [60]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,nan,315 cal,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.7,Female,Cereal,3,Moderatelly important,420 cal,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,Very Important,420 cal,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,Moderatelly important,420 cal,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,Not at all important,420 cal,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,Female,Cereal,3,Very Important,420 cal,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3.0,Female,Cereal,1,Not at all important,315 cal,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.9,Female,Cereal,4,nan,420 cal,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3.0,Male,Cereal,4,Very Important,420 cal,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,Female,Cereal,2,nan,315 cal,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

#### coffee

In [62]:
df['coffee'].isnull().sum()

0

In [63]:
df['coffee'].unique()

array([1, 2], dtype=int64)

In [66]:
df['coffee'] = df['coffee'].replace({
    1 : "Creamy frapuccino",
    2 : "Expresso"
})
df['coffee'].unique()

array(['Creamy frapuccino', 'Expresso'], dtype=object)

In [67]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,nan,315 cal,Creamy frapuccino,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.7,Female,Cereal,3,Moderatelly important,420 cal,Expresso,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,Very Important,420 cal,Expresso,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,Moderatelly important,420 cal,Expresso,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,Not at all important,420 cal,Expresso,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,Female,Cereal,3,Very Important,420 cal,Expresso,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3.0,Female,Cereal,1,Not at all important,315 cal,Expresso,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.9,Female,Cereal,4,nan,420 cal,Creamy frapuccino,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3.0,Male,Cereal,4,Very Important,420 cal,Creamy frapuccino,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,Female,Cereal,2,nan,315 cal,Expresso,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

#### comfort food

In [68]:
df['comfort_food'].isnull().sum()

1

In [69]:
df['comfort_food'].unique()

array(['none', 'chocolate, chips, ice cream',
       'frozen yogurt, pizza, fast food',
       'Pizza, Mac and cheese, ice cream', 'Ice cream, chocolate, chips ',
       'Candy, brownies and soda.',
       'Chocolate, ice cream, french fries, pretzels',
       'Ice cream, cheeseburgers, chips.', 'Donuts, ice cream, chips',
       'Mac and cheese, chocolate, and pasta ',
       'Pasta, grandma homemade chocolate cake anything homemade ',
       'chocolate, pasta, soup, chips, popcorn',
       'Cookies, popcorn, and chips', 'ice cream, cake, chocolate',
       'Pizza, fruit, spaghetti, chicken and Potatoes  ',
       'cookies, donuts, candy bars', 'Saltfish, Candy and Kit Kat ',
       'chips, cookies, ice cream', 'Chocolate, ice crea ',
       'pizza, wings, Chinese', 'Fast food, pizza, subs',
       'chocolate, sweets, ice cream', 'burgers, chips, cookies',
       'Chilli, soup, pot pie', 'Soup, pasta, brownies, cake',
       'chocolate, ice cream/milkshake, cookies',
       'Chips, ice cream, microwaveable foods ',
       'Chicken fingers, pizza ', 'cookies, hot chocolate, beef jerky',
       'Tomato soup, pizza, Fritos, Meatball sub, Dr. Pepper',
       'cookies, mac-n-cheese, brownies, french fries, ',
       'chips and dip, pepsi, ',
       "Grandma's Chinese, Peruvian food from back home, and sushi",
       'Ice cream, cookies,  Chinese food, and chicken nuggets ',
       'french fries, chips, ice cream',
       'mac n cheese, peanut butter and banana sandwich, omelet',
       'pizza, doughnuts, mcdonalds ', 'chocolate, chips, candy',
       'chocolate, popcorn, ice cream',
       "Candy\rPop\rChocolate \rChipotle \rMoe's ",
       'Pizza, Ice cream, fries, cereal, cookies  ',
       'Ice cream, chocolate, twizzlers ',
       'ice cream, cookie dough, cookies, cheese',
       'ice cream, cereal, and salt and vinegar chips ',
       'Potato chips, ice cream, chocolate, cookies',
       'Mac and cheese, fried chicken, cornbread ',
       'popcorn, chips, candy, & fries ',
       'Chex-mix, Wegmans cookies, Cheez-Its ', 'pizza, ice cream, chips',
       'fried chicken. mashed potatoes, mac and cheese',
       'Popcorn, Chex Mix, Pizza', 'Burger',
       'Pizza, chocolate, and ice cream ',
       'fries, chips, fried chicken, pizza, grapes',
       'peanut butter sandwich, pretzals, garlic bread',
       'chips, dip, fries, pizza', 'Pizza, Ice Cream, Chicken Wings',
       'Pizza chocolate chips bagels ice Capps ',
       'Chocolate, ice cream, pasta',
       'Mac n Cheese. Chips and salsa. Ice cream. ',
       'peanut butter, dessets, pretzels. ',
       'Macaroons, truffles, peanut butter n chocolate ice cream',
       'ice cream, cookies, ice cream',
       'carrots and ranch, pretzels, dark chocolate ',
       'cookies, nutella, ice cream, coffee, fruit ', 'mac and cheese',
       'Chocolate, Popcorn, Icecream',
       'Ice cream, cake, mozzarella sticks, pierogies ',
       'Chips, Mac and cheese, pizza, French fries ',
       'Pizza, burritos, slim jims',
       'Broccoli, spaghetti squash, quinoa, and grilled chicken',
       'Chocolate, ice cream, cookie dough',
       'pizza, pretzels, fruit snacks, deli sandwhich',
       'Chips, ice cream', nan,
       'mac and cheese, potato soup, ice cream, chips and cheese',
       'chocolate, pizza, and mashed potatoes', 'Pizza cookies steak ',
       'chocolate, fruit, and ice cream', 'Chips sweets popcorn',
       'Cookies, burgers, chicken noodle soup, ice cream',
       'cake, French fries, chicken nuggets', 'pizza, ice cream, cookies',
       'Mashed potatoes, pasta', 'Pasta dishes, Cheesecake, Pancakes',
       'Ice cream, pizza, cookies',
       'Chinese food, moes, sponge candy, homemade lasagne ',
       'pizza, pasta, mac and cheese',
       'Little Debbie snacks, donuts, pizza',
       'carrots, plantain chips, almonds, popcorn ',
       'chips, ice cream, fruit snacks',
       'Macaroni and cheese, chicken noodle soup, pizza',
       'Chocolate, Chips, Ice cream, French Fires, Pizza',
       'Mac and cheese, lasagna, Chinese food ',
       'candy, Chinese, mcdonalds', 'Doritos, mac and cheese, ice cream',
       'Ice cream, cake, pop, pizza, and milkshakes.',
       'Mac and Cheese, Pizza, Ice Cream and French Fries ',
       'Soup, pasta, cake',
       'mac & cheese, frosted brownies, chicken nuggs',
       'watermelon, grapes, ice cream',
       'macaroni and cheese, stuffed peppers, hamburgers, french fries',
       'Pizza, mashed potatoes, spaghetti',
       "dark chocolate, terra chips, reese's cups(dark chocolate), and bread/crackers with cottage cheese",
       'Chips, chocolate, ,mozzarella sticks ', 'ice cream, chips, candy',
       'Pizza, soda, chocolate brownie, chicken tikka masala and butter naan ',
       'Chocolate, Pasta, Cookies', 'Candy, salty snacks, toast',
       'Mac in cheese, pizza, mozzarella sticks ',
       'Ice-cream, pizza, chocolate', 'snacks, chips, ',
       'Chocolate, Ice cream, pizza', 'ice cream, pizza, Chinese food ',
       'Burgers, indian and korean food\r',
       'chocolate bar, ice cream, pretzels, potato chips and protein bars.',
       'Ice cream, chocolate, pizza, cucumber ',
       'Noodle ( any kinds of noodle), Tuna sandwich, and Egg.\r',
       'Chinese, chips, cake', 'chips, rice, chicken curry,',
       'wine. mac and cheese, pizza, ice cream ',
       'Pizza / Wings / Cheesecake', 'rice, potato, seaweed soup',
       'Mac n Cheese, Lasagna, Pizza', 'Chocolates, pizza, and Ritz.'],
      dtype=object)

In [71]:
df['comfort_food'] = df['comfort_food'].str.replace('\r', '', regex = True)

In [72]:
df['comfort_food'].unique()

array(['none', 'chocolate, chips, ice cream',
       'frozen yogurt, pizza, fast food',
       'Pizza, Mac and cheese, ice cream', 'Ice cream, chocolate, chips ',
       'Candy, brownies and soda.',
       'Chocolate, ice cream, french fries, pretzels',
       'Ice cream, cheeseburgers, chips.', 'Donuts, ice cream, chips',
       'Mac and cheese, chocolate, and pasta ',
       'Pasta, grandma homemade chocolate cake anything homemade ',
       'chocolate, pasta, soup, chips, popcorn',
       'Cookies, popcorn, and chips', 'ice cream, cake, chocolate',
       'Pizza, fruit, spaghetti, chicken and Potatoes  ',
       'cookies, donuts, candy bars', 'Saltfish, Candy and Kit Kat ',
       'chips, cookies, ice cream', 'Chocolate, ice crea ',
       'pizza, wings, Chinese', 'Fast food, pizza, subs',
       'chocolate, sweets, ice cream', 'burgers, chips, cookies',
       'Chilli, soup, pot pie', 'Soup, pasta, brownies, cake',
       'chocolate, ice cream/milkshake, cookies',
       'Chips, ice cream, microwaveable foods ',
       'Chicken fingers, pizza ', 'cookies, hot chocolate, beef jerky',
       'Tomato soup, pizza, Fritos, Meatball sub, Dr. Pepper',
       'cookies, mac-n-cheese, brownies, french fries, ',
       'chips and dip, pepsi, ',
       "Grandma's Chinese, Peruvian food from back home, and sushi",
       'Ice cream, cookies,  Chinese food, and chicken nuggets ',
       'french fries, chips, ice cream',
       'mac n cheese, peanut butter and banana sandwich, omelet',
       'pizza, doughnuts, mcdonalds ', 'chocolate, chips, candy',
       'chocolate, popcorn, ice cream',
       "CandyPopChocolate Chipotle Moe's ",
       'Pizza, Ice cream, fries, cereal, cookies  ',
       'Ice cream, chocolate, twizzlers ',
       'ice cream, cookie dough, cookies, cheese',
       'ice cream, cereal, and salt and vinegar chips ',
       'Potato chips, ice cream, chocolate, cookies',
       'Mac and cheese, fried chicken, cornbread ',
       'popcorn, chips, candy, & fries ',
       'Chex-mix, Wegmans cookies, Cheez-Its ', 'pizza, ice cream, chips',
       'fried chicken. mashed potatoes, mac and cheese',
       'Popcorn, Chex Mix, Pizza', 'Burger',
       'Pizza, chocolate, and ice cream ',
       'fries, chips, fried chicken, pizza, grapes',
       'peanut butter sandwich, pretzals, garlic bread',
       'chips, dip, fries, pizza', 'Pizza, Ice Cream, Chicken Wings',
       'Pizza chocolate chips bagels ice Capps ',
       'Chocolate, ice cream, pasta',
       'Mac n Cheese. Chips and salsa. Ice cream. ',
       'peanut butter, dessets, pretzels. ',
       'Macaroons, truffles, peanut butter n chocolate ice cream',
       'ice cream, cookies, ice cream',
       'carrots and ranch, pretzels, dark chocolate ',
       'cookies, nutella, ice cream, coffee, fruit ', 'mac and cheese',
       'Chocolate, Popcorn, Icecream',
       'Ice cream, cake, mozzarella sticks, pierogies ',
       'Chips, Mac and cheese, pizza, French fries ',
       'Pizza, burritos, slim jims',
       'Broccoli, spaghetti squash, quinoa, and grilled chicken',
       'Chocolate, ice cream, cookie dough',
       'pizza, pretzels, fruit snacks, deli sandwhich',
       'Chips, ice cream', nan,
       'mac and cheese, potato soup, ice cream, chips and cheese',
       'chocolate, pizza, and mashed potatoes', 'Pizza cookies steak ',
       'chocolate, fruit, and ice cream', 'Chips sweets popcorn',
       'Cookies, burgers, chicken noodle soup, ice cream',
       'cake, French fries, chicken nuggets', 'pizza, ice cream, cookies',
       'Mashed potatoes, pasta', 'Pasta dishes, Cheesecake, Pancakes',
       'Ice cream, pizza, cookies',
       'Chinese food, moes, sponge candy, homemade lasagne ',
       'pizza, pasta, mac and cheese',
       'Little Debbie snacks, donuts, pizza',
       'carrots, plantain chips, almonds, popcorn ',
       'chips, ice cream, fruit snacks',
       'Macaroni and cheese, chicken noodle soup, pizza',
       'Chocolate, Chips, Ice cream, French Fires, Pizza',
       'Mac and cheese, lasagna, Chinese food ',
       'candy, Chinese, mcdonalds', 'Doritos, mac and cheese, ice cream',
       'Ice cream, cake, pop, pizza, and milkshakes.',
       'Mac and Cheese, Pizza, Ice Cream and French Fries ',
       'Soup, pasta, cake',
       'mac & cheese, frosted brownies, chicken nuggs',
       'watermelon, grapes, ice cream',
       'macaroni and cheese, stuffed peppers, hamburgers, french fries',
       'Pizza, mashed potatoes, spaghetti',
       "dark chocolate, terra chips, reese's cups(dark chocolate), and bread/crackers with cottage cheese",
       'Chips, chocolate, ,mozzarella sticks ', 'ice cream, chips, candy',
       'Pizza, soda, chocolate brownie, chicken tikka masala and butter naan ',
       'Chocolate, Pasta, Cookies', 'Candy, salty snacks, toast',
       'Mac in cheese, pizza, mozzarella sticks ',
       'Ice-cream, pizza, chocolate', 'snacks, chips, ',
       'Chocolate, Ice cream, pizza', 'ice cream, pizza, Chinese food ',
       'Burgers, indian and korean food',
       'chocolate bar, ice cream, pretzels, potato chips and protein bars.',
       'Ice cream, chocolate, pizza, cucumber ',
       'Noodle ( any kinds of noodle), Tuna sandwich, and Egg.',
       'Chinese, chips, cake', 'chips, rice, chicken curry,',
       'wine. mac and cheese, pizza, ice cream ',
       'Pizza / Wings / Cheesecake', 'rice, potato, seaweed soup',
       'Mac n Cheese, Lasagna, Pizza', 'Chocolates, pizza, and Ritz.'],
      dtype=object)

#### comfort food reasons

In [73]:
df['comfort_food_reasons'].isnull().sum()

1

In [74]:
df['comfort_food_reasons'].unique()

array(['we dont have comfort ', 'Stress, bored, anger', 'stress, sadness',
       'Boredom', 'Stress, boredom, cravings ',
       "None, i don't eat comfort food. I just eat when i'm hungry.",
       'stress, boredom',
       'I eat comfort food when im stressed out from school(finals week), when I`m sad, or when i am dealing with personal family issues.',
       'Boredom ', 'Stress, anger and sadness ',
       'sadness, stress, cold weather',
       'Sadness, boredom, late night snack ',
       'stress,  boredom, special occasions',
       'Friends, environment and boredom', 'boredom', 'Stress ',
       "I usually only eat comfort food when I'm bored, if i am doing something, i can go for hours without eating ",
       'Sadness, stress', 'boredom, sadness, hungry',
       'happiness, satisfaction', 'Mostly boredom',
       'sadness, depression ', 'Stress and boredom ',
       'A long day, not feeling well, winter ', 'Boredom, lazyniss ',
       'survival, bored', 'Boredom, anger, drunkeness',
       'stress, boredom, cold weather', 'stres, boredom, and nighttime',
       'Hunger and Boredom ',
       'boredom, sadness, and if it has a good taste. ',
       'boredom, stressed, sad', 'Boredom usually', 'Stress',
       'boredom, stress', 'No reasons ',
       "Usually if I'm sad or depressed. ", 'Tired ', 'Boredom!, sadness',
       'All of the above; sadness, boredom and confusion ',
       'Stress, boredom, craving', 'Hunger, boredom',
       'sadness, boredom, & anger ', 'Boredom, happiness, distraught ',
       'stressed, upset, or just craving a cheat meal',
       'They taste better than other food. They are a pickme up. They are easy to make',
       'Stress, boredom', 'Lazy', 'Boredom, sadness and anger ',
       'Boredom, sadness', 'stress, anger and boredom', 'bored, stress',
       'I usually only eat comfort foods when I am bored. I will also eat them when I am happy to celebrate and then when I am sad to comfort me.',
       'Just cause ', 'Stress, boredom, sadness',
       'Boredom. Celebration. ', 'Sadness, boredom, lonely.',
       'I do not really eat "comfort food" but I guess sadness, special occasions, and anxiety ',
       'boredom, sadness', 'sadness', 'Bordem, happiness, sadness',
       'Stress, sadness, bored ', 'Boredom, stress, and it tastes good',
       'Bad day, bored, sadness',
       'Boredom, being in your period, and long bus rides for softball',
       'boredom, anger, happy', 'Boredom, stress', nan,
       'sadness, stressed, boredom', 'boredom and stress',
       'Boredom comfort hunger ', 'happiness, hunger, sadness',
       'Boredom, sadness, or with friends ',
       'Sadness, Loneliness, Boredom', 'Mostly Stress',
       'boredom, sadness ', 'when i am sad or craving', 'None',
       'stress, boredom, college as whole ', 'Boredom and stress',
       'Stress, sadness, boredom', 'laziness and hungover',
       'Boredom, hunger, snacking.', 'Happiness, sadness, celebration.',
       'Boredom, anger and just being hungry in general.',
       'Depression, comfort, accessibility ',
       'they are yummy, my boyfriend sometimes makes me sad, boredom',
       'Sad, bored, excited', 'boredom, stress, mood swings',
       'Anger, sadness',
       'Anxiousness, watching TV I desire "comfort food" ',
       'Boredom, sadness, anxiety', 'Boredom, laziness, anger',
       'Stress and sadness',
       'I am always stressed out, and bored when I am in my apartment. ',
       'Stress, frustration, self-consciousness ', 'Sadness and cravings',
       'Sadness, happiness and boredom', 'Boredom and sadness',
       'sadness, happiness and hunger',
       'Stress, boredom and physical activity',
       'loneliness, homework, boredom ',
       "When i'm  eating with my close friends/ Food smell or look good/ when I feel tired",
       'Happiness, boredom, social event', 'boredom and sadness ',
       'Loneliness / Homesick / Sadness',
       'happiness, they are some of my favorite foods',
       'hormones, Premenstrual syndrome.'], dtype=object)

#### comfort food reasons coded

In [75]:
df['comfort_food_reasons_coded'].isnull().sum()

19

In [76]:
df['comfort_food_reasons_coded'].unique()

array([ 9.,  1.,  2.,  4.,  3.,  7.,  6.,  5.,  8., nan])

In [80]:
df['comfort_food_reasons_coded'].dtype

dtype('float64')

In [82]:
df['comfort_food_reasons_coded'] = df['comfort_food_reasons_coded'].fillna(0).astype(int)

In [83]:
df['comfort_food_reasons_coded'].unique()

array([9, 1, 2, 4, 3, 7, 6, 5, 8, 0])

In [84]:
df['comfort_food_reasons_coded'] = df['comfort_food_reasons_coded'].replace({
    1 : "Stress",
    2 : "Boredum",
    3 : "Depression/Sadness",
    4 : "Hunger",
    5 : "Laziness",
    6 : "Cold Weather",
    7 : "Happiness",
    8 : "Watching TV",
    9 : "none"
})

In [85]:
df['comfort_food_reasons_coded'].unique()

array(['none', 'Stress', 'Boredum', 'Hunger', 'Depression/Sadness',
       'Happiness', 'Cold Weather', 'Laziness', 'Watching TV', 0],
      dtype=object)

In [87]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,nan,315 cal,Creamy frapuccino,none,we dont have comfort,none,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.7,Female,Cereal,3,Moderatelly important,420 cal,Expresso,"chocolate, chips, ice cream","Stress, bored, anger",Stress,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,Very Important,420 cal,Expresso,"frozen yogurt, pizza, fast food","stress, sadness",Stress,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,Moderatelly important,420 cal,Expresso,"Pizza, Mac and cheese, ice cream",Boredom,Boredum,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,Not at all important,420 cal,Expresso,"Ice cream, chocolate, chips","Stress, boredom, cravings",Stress,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [88]:
df = df.drop(columns = ['comfort_food_reasons'])

In [89]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons_coded,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,nan,315 cal,Creamy frapuccino,none,none,2.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.7,Female,Cereal,3,Moderatelly important,420 cal,Expresso,"chocolate, chips, ice cream",Stress,3.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,Very Important,420 cal,Expresso,"frozen yogurt, pizza, fast food",Stress,1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,Moderatelly important,420 cal,Expresso,"Pizza, Mac and cheese, ice cream",Boredum,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,Not at all important,420 cal,Expresso,"Ice cream, chocolate, chips",Stress,1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,Female,Cereal,3,Very Important,420 cal,Expresso,"wine. mac and cheese, pizza, ice cream",0,3.0,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3.0,Female,Cereal,1,Not at all important,315 cal,Expresso,Pizza / Wings / Cheesecake,0,3.0,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.9,Female,Cereal,4,nan,420 cal,Creamy frapuccino,"rice, potato, seaweed soup",0,3.0,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3.0,Male,Cereal,4,Very Important,420 cal,Creamy frapuccino,"Mac n Cheese, Lasagna, Pizza",0,3.0,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,Female,Cereal,2,nan,315 cal,Expresso,"Chocolates, pizza, and Ritz.",0,NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [90]:
df = df.rename(columns = {'comfort_food_reasons_coded' : 'comfort_food_reasons'})

In [91]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,nan,315 cal,Creamy frapuccino,none,none,2.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.7,Female,Cereal,3,Moderatelly important,420 cal,Expresso,"chocolate, chips, ice cream",Stress,3.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,Very Important,420 cal,Expresso,"frozen yogurt, pizza, fast food",Stress,1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,Moderatelly important,420 cal,Expresso,"Pizza, Mac and cheese, ice cream",Boredum,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,Not at all important,420 cal,Expresso,"Ice cream, chocolate, chips",Stress,1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,Female,Cereal,3,Very Important,420 cal,Expresso,"wine. mac and cheese, pizza, ice cream",0,3.0,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3.0,Female,Cereal,1,Not at all important,315 cal,Expresso,Pizza / Wings / Cheesecake,0,3.0,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.9,Female,Cereal,4,nan,420 cal,Creamy frapuccino,"rice, potato, seaweed soup",0,3.0,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3.0,Male,Cereal,4,Very Important,420 cal,Creamy frapuccino,"Mac n Cheese, Lasagna, Pizza",0,3.0,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,Female,Cereal,2,nan,315 cal,Expresso,"Chocolates, pizza, and Ritz.",0,NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [92]:
df.columns

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'cook', 'comfort_food_reasons_coded.1', 'cuisine', 'diet_current',
       'diet_current_coded', 'drink', 'eating_changes', 'eating_changes_coded',
       'eating_changes_coded1', 'eating_out', 'employment', 'ethnic_food',
       'exercise', 'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

#### cook

In [93]:
df['cook']

0      2.0
1      3.0
2      1.0
3      2.0
4      1.0
      ...
120    3.0
121    3.0
122    3.0
123    3.0
124    NaN
Name: cook, Length: 125, dtype: float64

In [95]:
df['cook'].isnull().sum()

3

In [96]:
df['cook'].unique()

array([ 2.,  3.,  1.,  5.,  4., nan])

In [99]:
df['cook'] = df['cook'].fillna(0).astype(int)

In [100]:
df['cook'].unique()

array([2, 3, 1, 5, 4, 0])

In [101]:
df['cook'] = df['cook'].replace({
    1 : "Everyday",
    2 : "A couple of times a week",
    3 : "Whenever I can, but that is not very often",
    4 : "I only help a little during holidays",
    5 : "Never, I  really do not  know my way around a kitchen"
})

In [102]:
df['cook'].unique()

array(['A couple of times a week',
       'Whenever I can, but that is not very often', 'Everyday',
       'Never, I  really do not  know my way around a kitchen',
       'I only help a little during holidays', 0], dtype=object)

#### cuisine

In [103]:
df['cuisine']

0      NaN
1      1.0
2      3.0
3      2.0
4      2.0
      ...
120    1.0
121    NaN
122    NaN
123    1.0
124    3.0
Name: cuisine, Length: 125, dtype: float64