In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv(r'C:/Users/OMKAR/Desktop/Practice/Food_Data_Processing/Data/food_coded_uncleaned.csv')

In [3]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [4]:
df.tail()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [5]:
df.shape

(125, 61)

In [6]:
df.isnull().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         21
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [7]:
df.columns

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

#### GPA

In [8]:
df['GPA']

0        2.4
1      3.654
2        3.3
3        3.2
4        3.5
       ...
120      3.5
121        3
122    3.882
123        3
124      3.9
Name: GPA, Length: 125, dtype: object

In [9]:
df['GPA'].isnull().sum()

2

In [10]:
df['GPA'].unique()

array(['2.4', '3.654', '3.3', '3.2', '3.5', '2.25', '3.8', '3.904', '3.4',
       '3.6', '3.1', nan, '4', '2.2', '3.87', '3.7', '3.9', '2.8', '3',
       '3.65', '3.89', '2.9', '3.605', '3.83', '3.292', '3.35',
       'Personal ', '2.6', '3.67', '3.73', '3.79 bitch', '2.71', '3.68',
       '3.75', '3.92', 'Unknown', '3.77', '3.63', '3.882'], dtype=object)

In [11]:
df['GPA'] = df['GPA'].replace('[a-z[A-Z]', '', regex = True)
df['GPA'].unique()

array(['2.4', '3.654', '3.3', '3.2', '3.5', '2.25', '3.8', '3.904', '3.4',
       '3.6', '3.1', nan, '4', '2.2', '3.87', '3.7', '3.9', '2.8', '3',
       '3.65', '3.89', '2.9', '3.605', '3.83', '3.292', '3.35', ' ',
       '2.6', '3.67', '3.73', '3.79 ', '2.71', '3.68', '3.75', '3.92', '',
       '3.77', '3.63', '3.882'], dtype=object)

In [36]:
df['GPA'] = df['GPA'].replace('', np.nan)
df['GPA'].unique()

array(['2.4', '3.654', '3.3', '3.2', '3.5', '2.25', '3.8', '3.904', '3.4',
       '3.6', '3.1', nan, '4', '2.2', '3.87', '3.7', '3.9', '2.8', '3',
       '3.65', '3.89', '2.9', '3.605', '3.83', '3.292', '3.35', '2.6',
       '3.67', '3.73', '3.79 ', '2.71', '3.68', '3.75', '3.92', '3.77',
       '3.63', '3.882'], dtype=object)

In [37]:
df['GPA'] = df['GPA'].apply(lambda x: '{:.1f}'.format(round(float(x), 1)))
df['GPA']

0      2.4
1      3.7
2      3.3
3      3.2
4      3.5
      ...
120    3.5
121    3.0
122    3.9
123    3.0
124    3.9
Name: GPA, Length: 125, dtype: object

In [14]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

#### Gender

In [15]:
df['Gender'].isnull().sum()

0

In [16]:
df['Gender'].unique()

array([2, 1], dtype=int64)

In [17]:
df['Gender'] = df['Gender'].replace({1 :  'Female', 2 : 'Male'})

In [18]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,Female,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

####  Breakfast

In [19]:
df['breakfast'].isnull().sum()

0

In [20]:
df['breakfast'].unique()

array([1, 2], dtype=int64)

In [21]:
df['breakfast'] = df['breakfast'].replace({1 : 'Cereal', 2 : 'Donut'})
df['breakfast']

0      Cereal
1      Cereal
2      Cereal
3      Cereal
4      Cereal
        ...
120    Cereal
121    Cereal
122    Cereal
123    Cereal
124    Cereal
Name: breakfast, Length: 125, dtype: object

In [22]:
df['breakfast'].unique()

array(['Cereal', 'Donut'], dtype=object)

In [23]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,Female,Cereal,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

#### Calories_chicken

In [24]:
df['calories_chicken'].isnull().sum()

0

In [25]:
df['calories_chicken'].unique()

array([430, 610, 720, 265], dtype=int64)

In [26]:
df['calories_chicken'] = df['calories_chicken'].replace({265 : 1, 430 : 2, 610 : 3, 720 : 4})
df['calories_chicken']

0      2
1      3
2      4
3      2
4      4
      ..
120    3
121    1
122    4
123    4
124    2
Name: calories_chicken, Length: 125, dtype: int64

In [27]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,Female,Cereal,3,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,Female,Cereal,3,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,Female,Cereal,1,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,Female,Cereal,4,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,Male,Cereal,4,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,Female,Cereal,2,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

#### calories day

In [28]:
df['calories_day'].isnull().sum()

19

In [29]:
df['calories_day'].unique()

array([nan,  3.,  4.,  2.])

In [30]:
df['calories_day'] = df['calories_day'].astype(str).str.replace('\.0$', '')

C:\Users\OMKAR\AppData\Local\Temp/ipykernel_6380/1536826737.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['calories_day'] = df['calories_day'].astype(str).str.replace('\.0$', '')

In [31]:
df['calories_day'].unique()

array(['nan', '3', '4', '2'], dtype=object)

In [32]:
df['calories_day'] = df['calories_day'].replace({
    '1' : "Don't know how many calorie should consume",
    '2' : "Not at all important",
    '3' : "Moderatelly important",
    '4' : "Very Important"
})

In [33]:
df['calories_day']

0                        nan
1      Moderatelly important
2             Very Important
3      Moderatelly important
4       Not at all important
               ...
120           Very Important
121     Not at all important
122                      nan
123           Very Important
124                      nan
Name: calories_day, Length: 125, dtype: object

In [34]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,nan,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,Female,Cereal,3,Moderatelly important,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,Very Important,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,Moderatelly important,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,Not at all important,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,Female,Cereal,3,Very Important,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,Female,Cereal,1,Not at all important,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,Female,Cereal,4,nan,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,Male,Cereal,4,Very Important,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,Female,Cereal,2,nan,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

#### calories_scone

In [35]:
df['calories_scone'].isnull().sum()

1

In [38]:
df['calories_scone'].unique()

array([315., 420., 980.,  nan])

In [46]:
df['calories_scone'] = df['calories_scone'].df['values'] = df['values'].astype(int)
df['calories_scone'].unique()

array(['3150', '4200', '9800', 'nan'], dtype=object)

In [56]:
df['calories_scone'] = pd.to_numeric(df['calories_scone'], errors='coerce').fillna(0).astype(int) // 10

In [57]:
df['calories_scone']

0      315
1      420
2      420
3      420
4      420
      ...
120    420
121    315
122    420
123    420
124    315
Name: calories_scone, Length: 125, dtype: int32

In [58]:
df['calories_scone'] = df['calories_scone'].replace({
    107 : "107 cal",
    315 : "315 cal",
    420 : "420 cal",
    980 : "980 cal"
})

In [59]:
df['calories_scone']

0      315 cal
1      420 cal
2      420 cal
3      420 cal
4      420 cal
        ...
120    420 cal
121    315 cal
122    420 cal
123    420 cal
124    315 cal
Name: calories_scone, Length: 125, dtype: object

In [60]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,nan,315 cal,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.7,Female,Cereal,3,Moderatelly important,420 cal,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,Very Important,420 cal,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,Moderatelly important,420 cal,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,Not at all important,420 cal,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,Female,Cereal,3,Very Important,420 cal,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3.0,Female,Cereal,1,Not at all important,315 cal,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.9,Female,Cereal,4,nan,420 cal,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3.0,Male,Cereal,4,Very Important,420 cal,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,Female,Cereal,2,nan,315 cal,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

#### coffee

In [62]:
df['coffee'].isnull().sum()

0

In [63]:
df['coffee'].unique()

array([1, 2], dtype=int64)

In [66]:
df['coffee'] = df['coffee'].replace({
    1 : "Creamy frapuccino",
    2 : "Expresso"
})
df['coffee'].unique()

array(['Creamy frapuccino', 'Expresso'], dtype=object)

In [67]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,nan,315 cal,Creamy frapuccino,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.7,Female,Cereal,3,Moderatelly important,420 cal,Expresso,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,Very Important,420 cal,Expresso,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,Moderatelly important,420 cal,Expresso,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,Not at all important,420 cal,Expresso,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,Female,Cereal,3,Very Important,420 cal,Expresso,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3.0,Female,Cereal,1,Not at all important,315 cal,Expresso,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.9,Female,Cereal,4,nan,420 cal,Creamy frapuccino,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3.0,Male,Cereal,4,Very Important,420 cal,Creamy frapuccino,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,Female,Cereal,2,nan,315 cal,Expresso,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

#### comfort food

In [68]:
df['comfort_food'].isnull().sum()

1

In [69]:
df['comfort_food'].unique()

array(['none', 'chocolate, chips, ice cream',
       'frozen yogurt, pizza, fast food',
       'Pizza, Mac and cheese, ice cream', 'Ice cream, chocolate, chips ',
       'Candy, brownies and soda.',
       'Chocolate, ice cream, french fries, pretzels',
       'Ice cream, cheeseburgers, chips.', 'Donuts, ice cream, chips',
       'Mac and cheese, chocolate, and pasta ',
       'Pasta, grandma homemade chocolate cake anything homemade ',
       'chocolate, pasta, soup, chips, popcorn',
       'Cookies, popcorn, and chips', 'ice cream, cake, chocolate',
       'Pizza, fruit, spaghetti, chicken and Potatoes  ',
       'cookies, donuts, candy bars', 'Saltfish, Candy and Kit Kat ',
       'chips, cookies, ice cream', 'Chocolate, ice crea ',
       'pizza, wings, Chinese', 'Fast food, pizza, subs',
       'chocolate, sweets, ice cream', 'burgers, chips, cookies',
       'Chilli, soup, pot pie', 'Soup, pasta, brownies, cake',
       'chocolate, ice cream/milkshake, cookies',
       'Chips, ice cream, microwaveable foods ',
       'Chicken fingers, pizza ', 'cookies, hot chocolate, beef jerky',
       'Tomato soup, pizza, Fritos, Meatball sub, Dr. Pepper',
       'cookies, mac-n-cheese, brownies, french fries, ',
       'chips and dip, pepsi, ',
       "Grandma's Chinese, Peruvian food from back home, and sushi",
       'Ice cream, cookies,  Chinese food, and chicken nuggets ',
       'french fries, chips, ice cream',
       'mac n cheese, peanut butter and banana sandwich, omelet',
       'pizza, doughnuts, mcdonalds ', 'chocolate, chips, candy',
       'chocolate, popcorn, ice cream',
       "Candy\rPop\rChocolate \rChipotle \rMoe's ",
       'Pizza, Ice cream, fries, cereal, cookies  ',
       'Ice cream, chocolate, twizzlers ',
       'ice cream, cookie dough, cookies, cheese',
       'ice cream, cereal, and salt and vinegar chips ',
       'Potato chips, ice cream, chocolate, cookies',
       'Mac and cheese, fried chicken, cornbread ',
       'popcorn, chips, candy, & fries ',
       'Chex-mix, Wegmans cookies, Cheez-Its ', 'pizza, ice cream, chips',
       'fried chicken. mashed potatoes, mac and cheese',
       'Popcorn, Chex Mix, Pizza', 'Burger',
       'Pizza, chocolate, and ice cream ',
       'fries, chips, fried chicken, pizza, grapes',
       'peanut butter sandwich, pretzals, garlic bread',
       'chips, dip, fries, pizza', 'Pizza, Ice Cream, Chicken Wings',
       'Pizza chocolate chips bagels ice Capps ',
       'Chocolate, ice cream, pasta',
       'Mac n Cheese. Chips and salsa. Ice cream. ',
       'peanut butter, dessets, pretzels. ',
       'Macaroons, truffles, peanut butter n chocolate ice cream',
       'ice cream, cookies, ice cream',
       'carrots and ranch, pretzels, dark chocolate ',
       'cookies, nutella, ice cream, coffee, fruit ', 'mac and cheese',
       'Chocolate, Popcorn, Icecream',
       'Ice cream, cake, mozzarella sticks, pierogies ',
       'Chips, Mac and cheese, pizza, French fries ',
       'Pizza, burritos, slim jims',
       'Broccoli, spaghetti squash, quinoa, and grilled chicken',
       'Chocolate, ice cream, cookie dough',
       'pizza, pretzels, fruit snacks, deli sandwhich',
       'Chips, ice cream', nan,
       'mac and cheese, potato soup, ice cream, chips and cheese',
       'chocolate, pizza, and mashed potatoes', 'Pizza cookies steak ',
       'chocolate, fruit, and ice cream', 'Chips sweets popcorn',
       'Cookies, burgers, chicken noodle soup, ice cream',
       'cake, French fries, chicken nuggets', 'pizza, ice cream, cookies',
       'Mashed potatoes, pasta', 'Pasta dishes, Cheesecake, Pancakes',
       'Ice cream, pizza, cookies',
       'Chinese food, moes, sponge candy, homemade lasagne ',
       'pizza, pasta, mac and cheese',
       'Little Debbie snacks, donuts, pizza',
       'carrots, plantain chips, almonds, popcorn ',
       'chips, ice cream, fruit snacks',
       'Macaroni and cheese, chicken noodle soup, pizza',
       'Chocolate, Chips, Ice cream, French Fires, Pizza',
       'Mac and cheese, lasagna, Chinese food ',
       'candy, Chinese, mcdonalds', 'Doritos, mac and cheese, ice cream',
       'Ice cream, cake, pop, pizza, and milkshakes.',
       'Mac and Cheese, Pizza, Ice Cream and French Fries ',
       'Soup, pasta, cake',
       'mac & cheese, frosted brownies, chicken nuggs',
       'watermelon, grapes, ice cream',
       'macaroni and cheese, stuffed peppers, hamburgers, french fries',
       'Pizza, mashed potatoes, spaghetti',
       "dark chocolate, terra chips, reese's cups(dark chocolate), and bread/crackers with cottage cheese",
       'Chips, chocolate, ,mozzarella sticks ', 'ice cream, chips, candy',
       'Pizza, soda, chocolate brownie, chicken tikka masala and butter naan ',
       'Chocolate, Pasta, Cookies', 'Candy, salty snacks, toast',
       'Mac in cheese, pizza, mozzarella sticks ',
       'Ice-cream, pizza, chocolate', 'snacks, chips, ',
       'Chocolate, Ice cream, pizza', 'ice cream, pizza, Chinese food ',
       'Burgers, indian and korean food\r',
       'chocolate bar, ice cream, pretzels, potato chips and protein bars.',
       'Ice cream, chocolate, pizza, cucumber ',
       'Noodle ( any kinds of noodle), Tuna sandwich, and Egg.\r',
       'Chinese, chips, cake', 'chips, rice, chicken curry,',
       'wine. mac and cheese, pizza, ice cream ',
       'Pizza / Wings / Cheesecake', 'rice, potato, seaweed soup',
       'Mac n Cheese, Lasagna, Pizza', 'Chocolates, pizza, and Ritz.'],
      dtype=object)

In [71]:
df['comfort_food'] = df['comfort_food'].str.replace('\r', '', regex = True)

In [72]:
df['comfort_food'].unique()

array(['none', 'chocolate, chips, ice cream',
       'frozen yogurt, pizza, fast food',
       'Pizza, Mac and cheese, ice cream', 'Ice cream, chocolate, chips ',
       'Candy, brownies and soda.',
       'Chocolate, ice cream, french fries, pretzels',
       'Ice cream, cheeseburgers, chips.', 'Donuts, ice cream, chips',
       'Mac and cheese, chocolate, and pasta ',
       'Pasta, grandma homemade chocolate cake anything homemade ',
       'chocolate, pasta, soup, chips, popcorn',
       'Cookies, popcorn, and chips', 'ice cream, cake, chocolate',
       'Pizza, fruit, spaghetti, chicken and Potatoes  ',
       'cookies, donuts, candy bars', 'Saltfish, Candy and Kit Kat ',
       'chips, cookies, ice cream', 'Chocolate, ice crea ',
       'pizza, wings, Chinese', 'Fast food, pizza, subs',
       'chocolate, sweets, ice cream', 'burgers, chips, cookies',
       'Chilli, soup, pot pie', 'Soup, pasta, brownies, cake',
       'chocolate, ice cream/milkshake, cookies',
       'Chips, ice cream, microwaveable foods ',
       'Chicken fingers, pizza ', 'cookies, hot chocolate, beef jerky',
       'Tomato soup, pizza, Fritos, Meatball sub, Dr. Pepper',
       'cookies, mac-n-cheese, brownies, french fries, ',
       'chips and dip, pepsi, ',
       "Grandma's Chinese, Peruvian food from back home, and sushi",
       'Ice cream, cookies,  Chinese food, and chicken nuggets ',
       'french fries, chips, ice cream',
       'mac n cheese, peanut butter and banana sandwich, omelet',
       'pizza, doughnuts, mcdonalds ', 'chocolate, chips, candy',
       'chocolate, popcorn, ice cream',
       "CandyPopChocolate Chipotle Moe's ",
       'Pizza, Ice cream, fries, cereal, cookies  ',
       'Ice cream, chocolate, twizzlers ',
       'ice cream, cookie dough, cookies, cheese',
       'ice cream, cereal, and salt and vinegar chips ',
       'Potato chips, ice cream, chocolate, cookies',
       'Mac and cheese, fried chicken, cornbread ',
       'popcorn, chips, candy, & fries ',
       'Chex-mix, Wegmans cookies, Cheez-Its ', 'pizza, ice cream, chips',
       'fried chicken. mashed potatoes, mac and cheese',
       'Popcorn, Chex Mix, Pizza', 'Burger',
       'Pizza, chocolate, and ice cream ',
       'fries, chips, fried chicken, pizza, grapes',
       'peanut butter sandwich, pretzals, garlic bread',
       'chips, dip, fries, pizza', 'Pizza, Ice Cream, Chicken Wings',
       'Pizza chocolate chips bagels ice Capps ',
       'Chocolate, ice cream, pasta',
       'Mac n Cheese. Chips and salsa. Ice cream. ',
       'peanut butter, dessets, pretzels. ',
       'Macaroons, truffles, peanut butter n chocolate ice cream',
       'ice cream, cookies, ice cream',
       'carrots and ranch, pretzels, dark chocolate ',
       'cookies, nutella, ice cream, coffee, fruit ', 'mac and cheese',
       'Chocolate, Popcorn, Icecream',
       'Ice cream, cake, mozzarella sticks, pierogies ',
       'Chips, Mac and cheese, pizza, French fries ',
       'Pizza, burritos, slim jims',
       'Broccoli, spaghetti squash, quinoa, and grilled chicken',
       'Chocolate, ice cream, cookie dough',
       'pizza, pretzels, fruit snacks, deli sandwhich',
       'Chips, ice cream', nan,
       'mac and cheese, potato soup, ice cream, chips and cheese',
       'chocolate, pizza, and mashed potatoes', 'Pizza cookies steak ',
       'chocolate, fruit, and ice cream', 'Chips sweets popcorn',
       'Cookies, burgers, chicken noodle soup, ice cream',
       'cake, French fries, chicken nuggets', 'pizza, ice cream, cookies',
       'Mashed potatoes, pasta', 'Pasta dishes, Cheesecake, Pancakes',
       'Ice cream, pizza, cookies',
       'Chinese food, moes, sponge candy, homemade lasagne ',
       'pizza, pasta, mac and cheese',
       'Little Debbie snacks, donuts, pizza',
       'carrots, plantain chips, almonds, popcorn ',
       'chips, ice cream, fruit snacks',
       'Macaroni and cheese, chicken noodle soup, pizza',
       'Chocolate, Chips, Ice cream, French Fires, Pizza',
       'Mac and cheese, lasagna, Chinese food ',
       'candy, Chinese, mcdonalds', 'Doritos, mac and cheese, ice cream',
       'Ice cream, cake, pop, pizza, and milkshakes.',
       'Mac and Cheese, Pizza, Ice Cream and French Fries ',
       'Soup, pasta, cake',
       'mac & cheese, frosted brownies, chicken nuggs',
       'watermelon, grapes, ice cream',
       'macaroni and cheese, stuffed peppers, hamburgers, french fries',
       'Pizza, mashed potatoes, spaghetti',
       "dark chocolate, terra chips, reese's cups(dark chocolate), and bread/crackers with cottage cheese",
       'Chips, chocolate, ,mozzarella sticks ', 'ice cream, chips, candy',
       'Pizza, soda, chocolate brownie, chicken tikka masala and butter naan ',
       'Chocolate, Pasta, Cookies', 'Candy, salty snacks, toast',
       'Mac in cheese, pizza, mozzarella sticks ',
       'Ice-cream, pizza, chocolate', 'snacks, chips, ',
       'Chocolate, Ice cream, pizza', 'ice cream, pizza, Chinese food ',
       'Burgers, indian and korean food',
       'chocolate bar, ice cream, pretzels, potato chips and protein bars.',
       'Ice cream, chocolate, pizza, cucumber ',
       'Noodle ( any kinds of noodle), Tuna sandwich, and Egg.',
       'Chinese, chips, cake', 'chips, rice, chicken curry,',
       'wine. mac and cheese, pizza, ice cream ',
       'Pizza / Wings / Cheesecake', 'rice, potato, seaweed soup',
       'Mac n Cheese, Lasagna, Pizza', 'Chocolates, pizza, and Ritz.'],
      dtype=object)

#### comfort food reasons

In [73]:
df['comfort_food_reasons'].isnull().sum()

1

In [74]:
df['comfort_food_reasons'].unique()

array(['we dont have comfort ', 'Stress, bored, anger', 'stress, sadness',
       'Boredom', 'Stress, boredom, cravings ',
       "None, i don't eat comfort food. I just eat when i'm hungry.",
       'stress, boredom',
       'I eat comfort food when im stressed out from school(finals week), when I`m sad, or when i am dealing with personal family issues.',
       'Boredom ', 'Stress, anger and sadness ',
       'sadness, stress, cold weather',
       'Sadness, boredom, late night snack ',
       'stress,  boredom, special occasions',
       'Friends, environment and boredom', 'boredom', 'Stress ',
       "I usually only eat comfort food when I'm bored, if i am doing something, i can go for hours without eating ",
       'Sadness, stress', 'boredom, sadness, hungry',
       'happiness, satisfaction', 'Mostly boredom',
       'sadness, depression ', 'Stress and boredom ',
       'A long day, not feeling well, winter ', 'Boredom, lazyniss ',
       'survival, bored', 'Boredom, anger, drunkeness',
       'stress, boredom, cold weather', 'stres, boredom, and nighttime',
       'Hunger and Boredom ',
       'boredom, sadness, and if it has a good taste. ',
       'boredom, stressed, sad', 'Boredom usually', 'Stress',
       'boredom, stress', 'No reasons ',
       "Usually if I'm sad or depressed. ", 'Tired ', 'Boredom!, sadness',
       'All of the above; sadness, boredom and confusion ',
       'Stress, boredom, craving', 'Hunger, boredom',
       'sadness, boredom, & anger ', 'Boredom, happiness, distraught ',
       'stressed, upset, or just craving a cheat meal',
       'They taste better than other food. They are a pickme up. They are easy to make',
       'Stress, boredom', 'Lazy', 'Boredom, sadness and anger ',
       'Boredom, sadness', 'stress, anger and boredom', 'bored, stress',
       'I usually only eat comfort foods when I am bored. I will also eat them when I am happy to celebrate and then when I am sad to comfort me.',
       'Just cause ', 'Stress, boredom, sadness',
       'Boredom. Celebration. ', 'Sadness, boredom, lonely.',
       'I do not really eat "comfort food" but I guess sadness, special occasions, and anxiety ',
       'boredom, sadness', 'sadness', 'Bordem, happiness, sadness',
       'Stress, sadness, bored ', 'Boredom, stress, and it tastes good',
       'Bad day, bored, sadness',
       'Boredom, being in your period, and long bus rides for softball',
       'boredom, anger, happy', 'Boredom, stress', nan,
       'sadness, stressed, boredom', 'boredom and stress',
       'Boredom comfort hunger ', 'happiness, hunger, sadness',
       'Boredom, sadness, or with friends ',
       'Sadness, Loneliness, Boredom', 'Mostly Stress',
       'boredom, sadness ', 'when i am sad or craving', 'None',
       'stress, boredom, college as whole ', 'Boredom and stress',
       'Stress, sadness, boredom', 'laziness and hungover',
       'Boredom, hunger, snacking.', 'Happiness, sadness, celebration.',
       'Boredom, anger and just being hungry in general.',
       'Depression, comfort, accessibility ',
       'they are yummy, my boyfriend sometimes makes me sad, boredom',
       'Sad, bored, excited', 'boredom, stress, mood swings',
       'Anger, sadness',
       'Anxiousness, watching TV I desire "comfort food" ',
       'Boredom, sadness, anxiety', 'Boredom, laziness, anger',
       'Stress and sadness',
       'I am always stressed out, and bored when I am in my apartment. ',
       'Stress, frustration, self-consciousness ', 'Sadness and cravings',
       'Sadness, happiness and boredom', 'Boredom and sadness',
       'sadness, happiness and hunger',
       'Stress, boredom and physical activity',
       'loneliness, homework, boredom ',
       "When i'm  eating with my close friends/ Food smell or look good/ when I feel tired",
       'Happiness, boredom, social event', 'boredom and sadness ',
       'Loneliness / Homesick / Sadness',
       'happiness, they are some of my favorite foods',
       'hormones, Premenstrual syndrome.'], dtype=object)

#### comfort food reasons coded

In [75]:
df['comfort_food_reasons_coded'].isnull().sum()

19

In [76]:
df['comfort_food_reasons_coded'].unique()

array([ 9.,  1.,  2.,  4.,  3.,  7.,  6.,  5.,  8., nan])

In [80]:
df['comfort_food_reasons_coded'].dtype

dtype('float64')

In [82]:
df['comfort_food_reasons_coded'] = df['comfort_food_reasons_coded'].fillna(0).astype(int)

In [83]:
df['comfort_food_reasons_coded'].unique()

array([9, 1, 2, 4, 3, 7, 6, 5, 8, 0])

In [84]:
df['comfort_food_reasons_coded'] = df['comfort_food_reasons_coded'].replace({
    1 : "Stress",
    2 : "Boredum",
    3 : "Depression/Sadness",
    4 : "Hunger",
    5 : "Laziness",
    6 : "Cold Weather",
    7 : "Happiness",
    8 : "Watching TV",
    9 : "none"
})

In [85]:
df['comfort_food_reasons_coded'].unique()

array(['none', 'Stress', 'Boredum', 'Hunger', 'Depression/Sadness',
       'Happiness', 'Cold Weather', 'Laziness', 'Watching TV', 0],
      dtype=object)

In [87]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,nan,315 cal,Creamy frapuccino,none,we dont have comfort,none,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.7,Female,Cereal,3,Moderatelly important,420 cal,Expresso,"chocolate, chips, ice cream","Stress, bored, anger",Stress,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,Very Important,420 cal,Expresso,"frozen yogurt, pizza, fast food","stress, sadness",Stress,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,Moderatelly important,420 cal,Expresso,"Pizza, Mac and cheese, ice cream",Boredom,Boredum,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,Not at all important,420 cal,Expresso,"Ice cream, chocolate, chips","Stress, boredom, cravings",Stress,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [88]:
df = df.drop(columns = ['comfort_food_reasons'])

In [89]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons_coded,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,nan,315 cal,Creamy frapuccino,none,none,2.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.7,Female,Cereal,3,Moderatelly important,420 cal,Expresso,"chocolate, chips, ice cream",Stress,3.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,Very Important,420 cal,Expresso,"frozen yogurt, pizza, fast food",Stress,1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,Moderatelly important,420 cal,Expresso,"Pizza, Mac and cheese, ice cream",Boredum,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,Not at all important,420 cal,Expresso,"Ice cream, chocolate, chips",Stress,1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,Female,Cereal,3,Very Important,420 cal,Expresso,"wine. mac and cheese, pizza, ice cream",0,3.0,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3.0,Female,Cereal,1,Not at all important,315 cal,Expresso,Pizza / Wings / Cheesecake,0,3.0,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.9,Female,Cereal,4,nan,420 cal,Creamy frapuccino,"rice, potato, seaweed soup",0,3.0,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3.0,Male,Cereal,4,Very Important,420 cal,Creamy frapuccino,"Mac n Cheese, Lasagna, Pizza",0,3.0,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,Female,Cereal,2,nan,315 cal,Expresso,"Chocolates, pizza, and Ritz.",0,NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [90]:
df = df.rename(columns = {'comfort_food_reasons_coded' : 'comfort_food_reasons'})

In [91]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,Male,Cereal,2,nan,315 cal,Creamy frapuccino,none,none,2.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.7,Female,Cereal,3,Moderatelly important,420 cal,Expresso,"chocolate, chips, ice cream",Stress,3.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,Female,Cereal,4,Very Important,420 cal,Expresso,"frozen yogurt, pizza, fast food",Stress,1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,Female,Cereal,2,Moderatelly important,420 cal,Expresso,"Pizza, Mac and cheese, ice cream",Boredum,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,Female,Cereal,4,Not at all important,420 cal,Expresso,"Ice cream, chocolate, chips",Stress,1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,Female,Cereal,3,Very Important,420 cal,Expresso,"wine. mac and cheese, pizza, ice cream",0,3.0,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3.0,Female,Cereal,1,Not at all important,315 cal,Expresso,Pizza / Wings / Cheesecake,0,3.0,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.9,Female,Cereal,4,nan,420 cal,Creamy frapuccino,"rice, potato, seaweed soup",0,3.0,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3.0,Male,Cereal,4,Very Important,420 cal,Creamy frapuccino,"Mac n Cheese, Lasagna, Pizza",0,3.0,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,Female,Cereal,2,nan,315 cal,Expresso,"Chocolates, pizza, and Ritz.",0,NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [92]:
df.columns

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'cook', 'comfort_food_reasons_coded.1', 'cuisine', 'diet_current',
       'diet_current_coded', 'drink', 'eating_changes', 'eating_changes_coded',
       'eating_changes_coded1', 'eating_out', 'employment', 'ethnic_food',
       'exercise', 'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

#### cook

In [93]:
df['cook']

0      2.0
1      3.0
2      1.0
3      2.0
4      1.0
      ...
120    3.0
121    3.0
122    3.0
123    3.0
124    NaN
Name: cook, Length: 125, dtype: float64

In [95]:
df['cook'].isnull().sum()

3

In [96]:
df['cook'].unique()

array([ 2.,  3.,  1.,  5.,  4., nan])

In [99]:
df['cook'] = df['cook'].fillna(0).astype(int)

In [100]:
df['cook'].unique()

array([2, 3, 1, 5, 4, 0])

In [101]:
df['cook'] = df['cook'].replace({
    1 : "Everyday",
    2 : "A couple of times a week",
    3 : "Whenever I can, but that is not very often",
    4 : "I only help a little during holidays",
    5 : "Never, I  really do not  know my way around a kitchen"
})

In [102]:
df['cook'].unique()

array(['A couple of times a week',
       'Whenever I can, but that is not very often', 'Everyday',
       'Never, I  really do not  know my way around a kitchen',
       'I only help a little during holidays', 0], dtype=object)

#### cuisine

In [103]:
df['cuisine']

0      NaN
1      1.0
2      3.0
3      2.0
4      2.0
      ...
120    1.0
121    NaN
122    NaN
123    1.0
124    3.0
Name: cuisine, Length: 125, dtype: float64

In [104]:
df['cuisine'].isnull().sum()

17

In [105]:
df['cuisine'].unique()

array([nan,  1.,  3.,  2.,  6.,  4.,  5.])

In [106]:
df['cuisine'] = df['cuisine'].fillna(0).astype(int)

In [111]:
df['cuisine'] = df['cuisine'].replace({
    1 : "American",
    2 : "Mexican / Spanish",
    3 : "Korean / Asian",
    4 : "Indian",
    5 : "American inspired internatioonal dishes",
    6 : "other"
})

In [112]:
df['cuisine']

0                     0
1              American
2        Korean / Asian
3      Mexican /Spanish
4      Mexican /Spanish
             ...
120            American
121                   0
122                   0
123            American
124      Korean / Asian
Name: cuisine, Length: 125, dtype: object

#### diet current

In [114]:
df['diet_current']

0                                  eat good and exercise
1      I eat about three times a day with some snacks...
2      toast and fruit for breakfast, salad for lunch...
3      College diet, cheap and easy foods most nights...
4      I try to eat healthy but often struggle becaus...
                             ...
120    My diet consists mainly of coffee, water, frui...
121    A college student with an imbalanced diet tryi...
122                               Rice, oatmeal, and tea
123    I try to eat as healthy as possible everyday. ...
124            high in protein and low in carbohydrates.
Name: diet_current, Length: 125, dtype: object

In [115]:
df['diet_current'].unique()

array(['eat good and exercise',
       "I eat about three times a day with some snacks. I try to eat healthy but it doesn't always work out that- sometimes eat fast food and mainly eat at Laker/ Egan ",
       'toast and fruit for breakfast, salad for lunch, usually grilled chicken and veggies (or some variation) for dinner',
       'College diet, cheap and easy foods most nights. Weekends traditionally, cook better homemade meals  ',
       'I try to eat healthy but often struggle because of living on campus. I still try to keep the choices I do make balanced with fruits and vegetables and limit the sweats. ',
       "My current diet is terrible. I barely have time to eat a meal in a day. When i do eat it's mostly not healthy.",
       'I eat a lot of chicken and broccoli for dinner, and usually tuna sandwiches for lunch.',
       'I eat a very healthy diet. Ocassionally, i will eat out and get unhealthy food.',
       'I eat whatever I want in moderation.',
       "I eat healthy all the time when possible. I treat myself occasionally. I don't really like the greasy meals, if anything I would eat sweets over the greasy meals.  ",
       'i eat very healthy. Maybe eat out 1-2 times a week.',
       'I am very health concious. I eat many fruits, veggies, and protiens. ',
       'I focus mostly on proteins and fruits. I eat a lot less vegetables and a few carbohydrates.',
       'Not as healthy when I am at school compared to home. Still very aware of the nutrition I am taking in.',
       'Making sure I have enough protein intake, as well with fibre, vitamins and carbs. ',
       'I like a lot of foods that arent home cooked or healthy for you.',
       'I eat very healthy ',
       'My current diet is eggs and a meat every morning for breakfast. For lunch ill usually have some pasta or rice with a meat and sometimes a side of veggies. for dinner i usually eat less carbs and more protein and veggies. ',
       'I eat lots of fruit and veggies. I eat lots of chicken.',
       "Current diet right now isn't very good. I eat at the school's cafeteria and they do not have the best choices.",
       'I eat 2 meals a day, lunch and dinner',
       'Random. Not strict diet, changes during season', 'balanced ',
       '2 meals a day. Rarely eat snacks. Fairly balanced diet. ',
       'I eat a lot of chicken and try to cook my own meals as much as possible using a lot of rice and vegetables.',
       'vegetarian, eat breakfast some days before class, can eat a lot of junk food so I refrain from allowing myself to buy any',
       "Most healthy diet, but since I'm an athlete have room for some bad foods to burn off quickly ",
       'Very healthy. Good balance of proteins and vegetables ',
       'Whats necessary for survival.  ', 'anything and everything',
       'I eat some vegetables almost everyday and fruit a couple of times a week. I eat meat a few times a week. I dont eat fast food and try to limit fried food.',
       'Diet consists of 3000-4000 calories a day well rounded from meats, vegetables, and fruit.',
       'Not that balanced, but I try not to eat fatty or fried foods.',
       'I eat a a lot of carbs from pizza and pasta. I also eat a lot of cookies. ',
       'egan dining',
       'A lot of rice and veggies, eggs for breakfast, chicken is usually the only kind of meat I eat.',
       "I eat out more often then not. I try to make sure when I eat out it isn't fast food, but instead something healthy like Panera. ",
       'I do not get to eat as well as I did.  I wish I ate better, but in college it is hard because of money.',
       'I eat three meals per day usually. I eat a lot of sandwiches and fruit.',
       'Unhealthy foods from the cafe ',
       'I will eat a full bleakest every morning consisting of eggs, potatoes, and a type of meat with juice. I will have a sandwich or something light for lunch. For dinner I will have meat and vegetables of some sort.  ',
       'I eat food ',
       'Light breakfast, yogurt or grandola bar. No luch but (healthy) snacks throughout this time period until dinner. Full dinner with meat, vegetables and fruit.',
       'It needs some re-structuring. Mostly, I eat well but I would like to improve on my water, fruit and veggie consumption. ',
       'I am on a very balanced diet, eating 4-5 small meals a day filled with fruits, vegetables, lean meat, and good carbs. ',
       'Healthy, includes many fruits and vegetables. Probably too many carbs. ',
       'At school I eat a lot of pizza or burgers with fries. Occasionally I try to have a salad or a fruit juice with this. I also try to eat more of a home cooked meal with vegetables.',
       'lots of pasta and carbs along with lean meats. Also at time some soda and junk food',
       "My current diet consists of cafeteria food, which isn't necessarily ideal. I try to eat as healthy as possible but I find myself turning to unhealthy food more often than healthy.",
       'I eat alot carbs. Protein (meat) is beautiful.',
       'Healthier than most but not 100% clean.', 'Great ',
       'My diet is mostly chicken rice and veggies. I mix in fruit between workouts and snacks like power bars and what not. ',
       '65 and out',
       'Very healthy and clean. A lot of protein and vegetables',
       'What ever the dinning hall is serving. When i am hungry i look for something filling more then healthy. ',
       'I usually eat very healthy. I incorporate fresh fruits and vegetables into every meal.',
       'I eat very heathy on a daily basis ',
       'For breakfast I have oatmeal. For lunch I have a sandwich and fruit. For dinner I usually have a piece of meat, rice or pasta, and a vegetable. ',
       'Simple breakfast of cereal or yogurt. Lunch is something like a deli meat sandwich. Dinner is a full meal. Veggies meat and starch. ',
       'My diet consists of fruits, vegetables, grains, dairy, and proteins.',
       'My diet is pretty healthy and consists of chicken, turcky, and veggies. I rarely eat unhealthy food or fast food.',
       'I try to eat as healthy as possible. 3 meals a day that are well-balanced.',
       'High in protein, fruits, and veggies. Low in fats.',
       'I eat fruit and vetagables with every meal. I only drink water, no soda. I tend to stay away from greasy food. ',
       "I don't follow a diet, I eat whatever I want",
       'My current diet usually includes at least one serving of vegetables per day, and I usually am eating fruits and whole grain things. ',
       'I typically try to eat healthy but being away at school makes it harder. I try to avoid junk food as well and trying to only eat it on the weekends.',
       'My current diet is balanced and includes food from all the food groups. ',
       'I am not vegetarian. I love red meat like steak and salami. I try to limit the amount of carbs I eat',
       'Healthy and light',
       'My meals consist of a vegetable, a meat and usually a carbohydrate. I eat a lot of fruit and snack in between meals on little things.',
       'I eat somewhat healthy. The food at egan is not the best.',
       'I have a diet of meats and other high protein foods. ', nan,
       'I normally eat a salad every day. I try to get at least every food group into my diet',
       'Current diet is rather poor.  I eat a lot of chicken and carbs.  I also tend to eat a lot of desserts.',
       'Meat carbs and candy ',
       'At school its hard but usually a granola bar and fruit for breakfast, a wrap for dinner or lunch, and then veggies and hummus.',
       'No diet. I eat what makes me feel good',
       'If there is berries I will eat them.  Eat any kind of pasta.  Hate cooked vegetables',
       'I eat fruits, dairy and carbs ',
       'I eat two-tree meals per day. Always eat a breakfast. ',
       'I eat healthy as well as unhealthy. I try to keep a balanced diet but often eat junk food with friends.',
       'I eat a paleo based diet high in protein and low in fat. I stay away from processed foods as much as I can.',
       "I try to eat something light for breakfast like cereal or an apple. For lunch I eat sandwiches or pasta also something somewhat light and I eat however much I'm hungry for at dinner. Sometimes I try to be healthy with a salad or something and then I get dessert ",
       'Eat fruits and vegetables daily and with almost every meal. Diet mostly consists of meat as well. ',
       'I try to eat healthy but sometimes drink soda pop and I enjoy desserts. harder to eat healthy when I am at school. ',
       'High protein and high carbs with fruits and vegetables as needed',
       'i currently eat a lot of salad, but do not eat 3 times a day nor eat breakfast ',
       "I used to eat whatever but since i've come to college i try to eat fruits and vegetables everyday. I also avoid fried foods.",
       "I eat very basic foods like pizza and pasta. I don't try many new things. ",
       'My diet consists of high levels of meats with some vegetables. Coexisting with varying levels of sugars ',
       'Very poor. Heavy carb consumption. ',
       'Complete diet. protein vegetables and carbs',
       'I eat usually 2 times a day, either breakfast and dinner or lunch and dinner.  I feel that is enough for me.',
       'Currently whatever Egan has at the moment.',
       'I try to maintain a healthy diet. I always try to eat foods that are beneficial to my health and that will impact me in the long run.',
       'Somewhat unhealthy. This is due to my hectic work and school schedule.',
       'i drink alot of lemon water, and milk. i also eat ice cream frequently after dinner. but i also eat lots of fruits and veggies',
       'I typically eat very healthy. i consume fruits and vegetables in about every meal. ',
       'At this time it is very touch and go. Some days I live on sandwiches and ice cream while other days I eat lots of fruits and vegetables. ',
       'A very healthy diet. Avoiding junk foods, and any white breads. ',
       'I have been eating mainly proteins and some fruits and vegetables every day with some less healthy snack foods.  ',
       'High in carbs, but I have recently tried to cut down on fats, salt, and sugars. I choose more organic options as well as more fruits and vegetables. ',
       'Since I am a college student I rarely cook full meals with protein, vegetables and starch. I usually just heat up leftovers from a restaurant or go eat casual food at the dining hall.',
       'It is pretty balanced with a diverse mixture of proteins, carbohydrates, vitamins and minerals. Fruits and chicken dominate my diet. ',
       'I try to eat a balanced meal. I refrain from anything too fatty. ',
       'moderately health conscious ',
       'protein, carbs, less fruits and vegetables, some sweets ',
       'I eat at least 2 times a day at the universities dining places. I also sometimes cook myself and try to eat healthy a majority of the time. ',
       'some healthy food and also some not so healthy.',
       'I eat a lot of proteins and fruit and vegetables. I try to stay away from carbohydrates and sugary foods.',
       'My current diet would be considered a "college diet". I eat a lot of pizza and ramen noodles. ',
       'Not very healthy',
       'I currently eat an abundance of carbohydrates. I have a low intake of protein. I overly intake calcium.',
       'It is very unbalance. Mostly fat food, Lack of vegetables.',
       'I eat in dining hall of school everyday. I usually have both meat and a little vegetable in every meal. ',
       'Try to eat as healthy as possible. A few days where fast food comes into play because of classes. ',
       'My diet is mostly whatever I get to eat in the grotto commons. Sometimes, I eat outside',
       'My diet consists mainly of coffee, water, fruits, vegetables, and chicken. I tend to stay away from bread and pasta as much as possible. ',
       'A college student with an imbalanced diet trying to be healthy.',
       'Rice, oatmeal, and tea',
       'I try to eat as healthy as possible everyday.  I have fruit, yogurt and a protein shake everyday.  The other foods i eat vary on a day to day basis.',
       'high in protein and low in carbohydrates.'], dtype=object)

#### diet_current_coded

In [116]:
df['diet_current_coded'].isnull().sum()

0

In [117]:
df['diet_current_coded'].unique()

array([1, 2, 3, 4], dtype=int64)

In [127]:
df['diet_current_coded'] = df['diet_current_coded'].replace({
     1 : "Healthy / Balanced / Moderated",
     2 : "Unhealthy / Cheap / too much / Random",
     3 : "The same thing over and over",
     4 : "Unclear"
})

In [128]:
df['diet_current_coded'].unique()

array(['Healthy / Balanced / Moderated',
       'Unhealthy / Cheap / too much / Random',
       'The same thing over and over', 'Unclear'], dtype=object)

In [129]:
df['diet_current_coded']

0             Healthy / Balanced / Moderated
1      Unhealthy / Cheap / too much / Random
2               The same thing over and over
3      Unhealthy / Cheap / too much / Random
4      Unhealthy / Cheap / too much / Random
                       ...
120    Unhealthy / Cheap / too much / Random
121    Unhealthy / Cheap / too much / Random
122    Unhealthy / Cheap / too much / Random
123           Healthy / Balanced / Moderated
124           Healthy / Balanced / Moderated
Name: diet_current_coded, Length: 125, dtype: object

#### drink

In [131]:
df['drink']

0      1.0
1      2.0
2      1.0
3      2.0
4      2.0
      ...
120    2.0
121    1.0
122    1.0
123    2.0
124    1.0
Name: drink, Length: 125, dtype: float64

In [132]:
df['drink'].isnull().sum()

2

In [133]:
df['drink'].unique()

array([ 1.,  2., nan])

In [134]:
df['drink'] = df['drink'].fillna(0).astype(int)

In [135]:
df['drink'] = df['drink']

0      1
1      2
2      1
3      2
4      2
      ..
120    2
121    1
122    1
123    2
124    1
Name: drink, Length: 125, dtype: int32

In [136]:
df['drink'] = df['drink'].replace({1  : "Orange Juice", 2 : "Soda"})

In [137]:
df['drink']

0      Orange Juice
1              Soda
2      Orange Juice
3              Soda
4              Soda
           ...
120            Soda
121    Orange Juice
122    Orange Juice
123            Soda
124    Orange Juice
Name: drink, Length: 125, dtype: object

#### eating changes

In [138]:
df['eating_changes']

0                                            eat faster
1                            I eat out more than usual.
2      sometimes choosing to eat fast food instead of...
3         Accepting cheap and premade/store bought foods
4      I have eaten generally the same foods but I do...
                             ...
120    I have noticed there is less time for a prepar...
121    Eating Pizza as an excuse when there is nothin...
122                                            less rice
123    I don't eat as much on a daily basis since com...
124              I have learned to eat more vegetables.
Name: eating_changes, Length: 125, dtype: object

#### eating changes coded

In [139]:
df['eating_changes_coded'].isnull().sum()

0

In [140]:
df['eating_changes_coded'].unique()

array([1, 3, 2, 4], dtype=int64)

In [141]:
df['eating_changes_coded'] = df['eating_changes_coded'].replace({
    1 : "Worse",
    2 : "Better",
    3 : "The same",
    4 : "unclear"
})

In [142]:
df['eating_changes_coded'].unique()

array(['Worse', 'The same', 'Better', 'unclear'], dtype=object)